.donut {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.donut-center {
  position: absolute;
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txt-chart-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.txt-chart-subtitle {
  font-size: 14px;
  color: #777;
}
